<p>
Beste ACSI-medewerker,
</p>

<p>
Iemand meldde zich zonet aan via het webformulier.
</p>

<h2>Therapie</h2>
<p>
	${entry.therapy.description}
</p>

<p>
Met vriendelijke groet,<br/>
ACSI Digitaal.
</p>
