<p>
Beste Pirlewieter,
</p>

<p>
Een nieuwe organisatie meldde zich aan als doorverwijzer. Hieronder vind je de registratiegegevens, alsook de inlogcode van de organisatie.
</p>

<p>
De inlogcode: <strong>${organisation.code}</strong>
</p>

<h2>Gegevens</h2>
<p>
	<ul>
		<li>Naam: ${organisation.naam}</li>
		<li>E-mail: ${organisation.email}</li>
		<li>Telefoon: ${organisation.telefoonNummer}</li>
		<li>GSM: ${organisation.gsmNummer}</li>
	</ul>
</p>

<p>
Met vriendelijke groet,<br/>
Pirlewiet Digitaal.
</p>
