<p>
Beste Sabine
</p>

<p>
Er kwam zonet een aanmelding binnen via het het webformulier.
</p>

<h2>Reden</h2>
<p>
	${entry.reason}
</p>

<h2>Persoonsgegevens</h2>

	<#list entry.persons as person>
	<p>
  		<span>${person.name}</span><br/>
  		<span>${person.email}</span><br/>
  		<span>${person.telephone}</span><br/>
  	</p>
	</#list>
	
<#if entry.description??>
	<h2>Uitleg</h2>
	<p>
		${entry.description}
	</p>
</#if>


Vriendelijke groet

Occam Software
