<p>
Beste ACSI-medewerker,
</p>

<p>
${entry.name} meldde zich zonet aan via het webformulier.
</p>

<h2>Algemene gegevens</h2>
<p>
	<ul>
		<li>Naam: ${entry.name}</li>
		<li>E-mail: ${entry.email}</li>
		<li>Telefoon: ${entry.telephone}</li>
		<li>Geboortedatum: ${entry.birthDay?date}</li>
	</ul>
</p>

<h2>Therapie</h2>
<p>
	${entry.therapy.description}
</p>

<h2>Hulpvraag</h4>
<h3>${entry.subject}</h3>
<p>
   ${entry.description}
</p>
<#if entry.preferredTherapist??>
	<h3>Voorkeur therapeut</h3>
	<p>${entry.preferredTherapist.givenName}&nbsp;${entry.preferredTherapist.familyName}</p>
</#if>

<h2>Beschikbaarheid</h2>
<h3>Geselecteerde beschikbaarheid</h3>
<p>
	<#list entry.availabilities as availability>
  		<span>${availability}</span><br/>
	</#list>
</p>


<h3>Opmerkingen bij beschikbaarheid</h3>
<p>
   ${entry.availabilityComment}
</p>

<br/>
<br/>

<p>
Met vriendelijke groet,<br/>
ACSI Digitaal.
</p>
